<launch>
    <arg name="scene" default="scenenn_276_oven" />
    <arg name="gui" default="false" />

    <arg name="urdf_file" value="xacro --inorder '$(find scene_builder)/output/$(arg scene)/main.xacro'" />

    <param name="robot_description" command="$(arg urdf_file)" />

    <arg unless="$(arg gui)" name="joint_state_pub" value="joint_state_publisher" />
    <arg if="$(arg gui)" name="joint_state_pub" value="joint_state_publisher_gui" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="$(arg joint_state_pub)" pkg="$(arg joint_state_pub)" type="$(arg joint_state_pub)" />

    <node name="view_scene" pkg="rviz" type="rviz" args="-d $(find scene_builder)/rviz/view_scene.rviz" />
</launch>